<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.BookmarkMapper">
    <!-- 북 마크로 등록 -->
    <insert id="saveBookmark">
        insert into bookmark values(#{uid}, #{pid})
    </insert>

    <!-- 북 마크 삭제 -->
    <delete id="deleteBookmark">
        delete from bookmark where uid = #{uid} and pid = #{pid}
    </delete>

    <!-- 해당 포스트가 북마크로 등록되어있는지 확인 -->
    <select id="isBookmark" resultType="Long">
        select uid from bookmark where uid = #{uid} and pid = #{pid}
    </select>

</mapper>